<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%=h survey.name %></td>
    <td><%=link_to h( survey.owner.name ), survey.owner %></td>
    <td><%= link_to 'Answer', answer_survey_path(survey) %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New survey', new_survey_path %>
