<h1>New question requirement</h1>

<p>A Requirement for "<%= @question_requirement.question.question %>"</p>

<% form_for(@question_requirement) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :question_id %>
  <p>
    <%= f.label :option %><br />
    <%= f.collection_select :option_id, @options, :id, :value %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', question_requirements_path %>
